# Project-specific files
src/Makefile
src/gspec.lex.sml
src/gspec.grm.sml
bin

# vim swap file
*.swp

# autoconf files
configure
configure~
config.log
config.status
autom4te.cache

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# macOS finder
.DS_Store

# SML/NJ
.cm/

# Makefile dependencies
.depend

